In [1]:
import pandas as pd

data_adit = pd.read_clipboard()

# Menampilkan data
print(data_adit)

       Nama Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit) wilayah tinggal
0   Achmad       L      2023     175                        15         jakarta
1    rayyan      L      2023     165                        13          bekasi
2     felix      L      2023     175                        17          jaktim
3    andrew      L      2023     168                        30           depok
4     April      P      2023     175                        15       tangerang
5     Ariel      L      2023     185                        17         jakarta
6      Arik      L      2023     173                        30          jakbar
7     Aurel      P      2023     175                        21           jakut
8     bahru      P      2023     171                        22           depok
9      dewa      L      2023     175                        31         jakarta
10     vira      L      2023     178                        25         jakarta
11     dony      L      2023     175                        28          bekasi
12     naya      P      2023     169                        10         jakarta
13    kevin      L      2023     173                        30          jaktim
14   hannan      L      2023     166                        30          jaktim
15  bambang      L      2023     175                        36           depok
16     jett      L      2023     170                        22         jakarta
17     dafa      L      2023     160                        15          jakbar
18    dimas      L      2023     175                        48          bekasi
19    monic      P      2023     171                        22           depok
20     bayu      L      2023     175                        31         jakarta
21   arjuna      L      2023     178                        25         jakarta
22     afuk      L      2023     179                        28          bekasi
23    putri      P      2023     169                        10         jakarta
24     ipin      L      2023     173                        30          jaktim
25  nicolas      L      2023     175                        30          jaktim
26    nalen      L      2023     175                        36           depok
27    fadil      L      2023     170                        22         jakarta
28   zavier      L      2023     160                        15          jakbar

In [2]:
adit = data_adit[data_adit['Tinggi'] == 175]

# Menampilkan nama
print(adit)

       Nama Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit) wilayah tinggal
0   Achmad       L      2023     175                        15         jakarta
2     felix      L      2023     175                        17          jaktim
4     April      P      2023     175                        15       tangerang
7     Aurel      P      2023     175                        21           jakut
9      dewa      L      2023     175                        31         jakarta
11     dony      L      2023     175                        28          bekasi
15  bambang      L      2023     175                        36           depok
18    dimas      L      2023     175                        48          bekasi
20     bayu      L      2023     175                        31         jakarta
25  nicolas      L      2023     175                        30          jaktim
26    nalen      L      2023     175                        36           depok

In [3]:
adit['Tinggi'] = pd.to_numeric(adit['Tinggi'])

import numpy as np

adit['Tinggi'] = adit['Tinggi'].apply(lambda x: 'large' if x > 160 else 'small')

# Menampilkan DataFrame setelah modifikasi
print(adit)

       Nama Gender  Angkatan Tinggi  Waktu Perjalanan (Menit) wilayah tinggal
0   Achmad       L      2023  large                        15         jakarta
2     felix      L      2023  large                        17          jaktim
4     April      P      2023  large                        15       tangerang
7     Aurel      P      2023  large                        21           jakut
9      dewa      L      2023  large                        31         jakarta
11     dony      L      2023  large                        28          bekasi
15  bambang      L      2023  large                        36           depok
18    dimas      L      2023  large                        48          bekasi
20     bayu      L      2023  large                        31         jakarta
25  nicolas      L      2023  large                        30          jaktim
26    nalen      L      2023  large                        36           depok

C:\Users\Acer\AppData\Local\Temp\ipykernel_17948\1629601471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adit['Tinggi'] = pd.to_numeric(adit['Tinggi'])
C:\Users\Acer\AppData\Local\Temp\ipykernel_17948\1629601471.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adit['Tinggi'] = adit['Tinggi'].apply(lambda x: 'large' if x > 160 else 'small')

In [4]:
# Menambahkan kolom baru 'newvariable' 
adit['Jurusan'] = 'TIF23'
adit['Fakultas'] = 'FTI'

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(adit)

       Nama Gender  Angkatan Tinggi  Waktu Perjalanan (Menit) wilayah tinggal  \
0   Achmad       L      2023  large                        15         jakarta
2     felix      L      2023  large                        17          jaktim
4     April      P      2023  large                        15       tangerang
7     Aurel      P      2023  large                        21           jakut
9      dewa      L      2023  large                        31         jakarta
11     dony      L      2023  large                        28          bekasi
15  bambang      L      2023  large                        36           depok
18    dimas      L      2023  large                        48          bekasi
20     bayu      L      2023  large                        31         jakarta
25  nicolas      L      2023  large                        30          jaktim
26    nalen      L      2023  large                        36           depok

   Jurusan Fakultas
0    TIF23      FTI
2    TIF23      FTI
4    TIF23      FTI
7    TIF23      FTI
9    TIF23      FTI
11   TIF23      FTI
15   TIF23      FTI
18   TIF23      FTI
20   TIF23      FTI
25   TIF23      FTI
26   TIF23      FTI

C:\Users\Acer\AppData\Local\Temp\ipykernel_17948\2694079603.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adit['Jurusan'] = 'TIF23'
C:\Users\Acer\AppData\Local\Temp\ipykernel_17948\2694079603.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adit['Fakultas'] = 'FTI'

In [5]:
kolom1dan2 = data_vira.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

       Nama Gender  Angkatan Tinggi  Waktu Perjalanan (Menit) wilayah tinggal  \
0   Achmad       L      2023  large                        15         jakarta
2     felix      L      2023  large                        17          jaktim
4     April      P      2023  large                        15       tangerang
7     Aurel      P      2023  large                        21           jakut
9      dewa      L      2023  large                        31         jakarta
11     dony      L      2023  large                        28          bekasi
15  bambang      L      2023  large                        36           depok
18    dimas      L      2023  large                        48          bekasi
20     bayu      L      2023  large                        31         jakarta
25  nicolas      L      2023  large                        30          jaktim
26    nalen      L      2023  large                        36           depok

   Jurusan
0    TIF23
2    TIF23
4    TIF23
7    TIF23
9    TIF23
11   TIF23
15   TIF23
18   TIF23
20   TIF23
25   TIF23
26   TIF23

In [6]:
kolom1dan2 = data_adit.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

       Nama Gender
0   Achmad       L
1    rayyan      L
2     felix      L
3    andrew      L
4     April      P
5     Ariel      L
6      Arik      L
7     Aurel      P
8     bahru      P
9      dewa      L
10     vira      L
11     dony      L
12     naya      P
13    kevin      L
14   hannan      L
15  bambang      L
16     jett      L
17     dafa      L
18    dimas      L
19    monic      P
20     bayu      L
21   arjuna      L
22     afuk      L
23    putri      P
24     ipin      L
25  nicolas      L
26    nalen      L
27    fadil      L
28   zavier      L

In [7]:
# Menggabungkan baris dari dua DataFrame
baris1sd4 = data_adit.iloc[0:4, :]
baris26sd30 = data_adit.iloc[26:30, :]
baris1sd30 = baris1sd4.append(baris26sd30)

# Menampilkan DataFrame baris1sd6
print(baris1sd30)

       Nama Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit) wilayah tinggal
0   Achmad       L      2023     175                        15         jakarta
1    rayyan      L      2023     165                        13          bekasi
2     felix      L      2023     175                        17          jaktim
3    andrew      L      2023     168                        30           depok
26    nalen      L      2023     175                        36           depok
27    fadil      L      2023     170                        22         jakarta
28   zavier      L      2023     160                        15          jakbar

C:\Users\Acer\AppData\Local\Temp\ipykernel_17948\2011792813.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  baris1sd30 = baris1sd4.append(baris26sd30)

In [8]:
data_adit_sort = data_adit.sort_values(by='Tinggi')

print(data_adit_sort)

       Nama Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit) wilayah tinggal
28   zavier      L      2023     160                        15          jakbar
17     dafa      L      2023     160                        15          jakbar
1    rayyan      L      2023     165                        13          bekasi
14   hannan      L      2023     166                        30          jaktim
3    andrew      L      2023     168                        30           depok
23    putri      P      2023     169                        10         jakarta
12     naya      P      2023     169                        10         jakarta
16     jett      L      2023     170                        22         jakarta
27    fadil      L      2023     170                        22         jakarta
8     bahru      P      2023     171                        22           depok
19    monic      P      2023     171                        22           depok
6      Arik      L      2023     173                        30          jakbar
24     ipin      L      2023     173                        30          jaktim
13    kevin      L      2023     173                        30          jaktim
26    nalen      L      2023     175                        36           depok
25  nicolas      L      2023     175                        30          jaktim
20     bayu      L      2023     175                        31         jakarta
18    dimas      L      2023     175                        48          bekasi
4     April      P      2023     175                        15       tangerang
15  bambang      L      2023     175                        36           depok
11     dony      L      2023     175                        28          bekasi
9      dewa      L      2023     175                        31         jakarta
7     Aurel      P      2023     175                        21           jakut
2     felix      L      2023     175                        17          jaktim
0   Achmad       L      2023     175                        15         jakarta
21   arjuna      L      2023     178                        25         jakarta
10     vira      L      2023     178                        25         jakarta
22     afuk      L      2023     179                        28          bekasi
5     Ariel      L      2023     185                        17         jakarta